body {
    font-family: sans-serif, pingfang sc, microsoft yahei;
}

a {
    text-decoration: none;
}

ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ol li {
    margin: 1.1em;
}

.link_btn {
    background-color: #4CAF50;
}

.del_btn {
    background-color: #F44336;
}

.link_btn, .del_btn {
    border-radius: 4px;
    border: none;
    color: white;
}

.del_btn {
    border-radius: 50%;
}

.link_btn:active, .del_btn {
    transform: scale(0.8);
}
