<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset=utf-8>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/asset/index.css">
  <title>media files</title>
</head>
<body>
  <ol start="0">
    {{with $d := .}}
    {{range $f := $d.Files}}<li>
      <a class="link_btn" href="#" onclick="copyLink(event)">ⓒ</a>
      {{if $d.EnableArchive}}
      <a class="archive_btn" href="/archive/{{$f.ID}}" onclick="archiveFile(event)">ⓐ</a>
      {{end}}
      <a class="name_lnk" href="/f/{{$f.ID}}">{{title $f.Path}}</a>
      <a class="del_btn" href="/delete/{{$f.ID}}" onclick="deleteFile(event)">ⓧ</a>
    </li>
    {{end}}
    {{end}}
  </ol>
  <script src="/asset/index.js"></script>
</body>
</html>
